# How to check version?

In [4]:
import pandas as pd
pd.__version__

'2.2.2'

In [5]:
# another method

pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.12.4.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 10
Version               : 10.0.19045
machine               : AMD64
processor             : Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_United States.1252

pandas                : 2.2.2
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 70.0.0
pip                   : 24.1
Cython                : None
pytest                : None
hypothesis            : None
sphinx                : None
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : None
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : 3.1.4
IPython               : 8.25.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
gcsfs                 : None
matplotlib            : 3.9.0
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.4
pandas_gbq            : None
pyarrow               : None
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.13.1
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
zstandard             : None
tzdata                : 2024.1
qtpy                  : None
pyqt5                 : None

In [21]:
pd.DataFrame({'A col': [45, 64, 46, 34], 'B col': [98, 34, 23, 65]})

   A col  B col
0     45     98
1     64     34
2     46     23
3     34     65

In [36]:
df = pd.DataFrame({'X': [0, 0, 0, 0, 1, 1, 1, 1,], 'Y': [0, 0, 1, 1, 0, 0, 1, 1], 'Z': [0, 1, 0, 1, 0, 1, 0, 1]})
df

   X  Y  Z
0  0  0  0
1  0  0  1
2  0  1  0
3  0  1  1
4  1  0  0
5  1  0  1
6  1  1  0
7  1  1  1

In [37]:
df.shape

(8, 3)

In [38]:
df.describe()

              X         Y         Z
count  8.000000  8.000000  8.000000
mean   0.500000  0.500000  0.500000
std    0.534522  0.534522  0.534522
min    0.000000  0.000000  0.000000
25%    0.000000  0.000000  0.000000
50%    0.500000  0.500000  0.500000
75%    1.000000  1.000000  1.000000
max    1.000000  1.000000  1.000000

In [40]:
df.sort_index(ascending=False)

   X  Y  Z
7  1  1  1
6  1  1  0
5  1  0  1
4  1  0  0
3  0  1  1
2  0  1  0
1  0  0  1
0  0  0  0

In [42]:
df.values

array([[0, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 1],
       [1, 0, 0],
       [1, 0, 1],
       [1, 1, 0],
       [1, 1, 1]], dtype=int64)